@import '@constants/colors';

@mixin character {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    padding: 0;
    width: 40px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: $character-light-title-85;
}

div.ant-result {
    padding: 0;

    svg[data-icon='exclamation-circle'] {
        fill: $primary-light-6;
    }

    &-title {
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 1.2;
        margin-bottom: 5px;
    }

    &-subtitle {
        margin: -7px auto 17px;
        max-width: 330px;
        text-align: center;
        line-height: 1.4;
    }

    &-extra {
        display: flex;
        justify-content: center;
    }

    .ant-btn {
        padding: 7px 15px;
        letter-spacing: 0.5px;

        @media (min-width: 320px) and (max-width: 500px) {
            font-size: 14px;
        }

        &-primary {
            background-color: $primary-light-6;

            &:disabled {
                background-color: inherit;
            }

            &:hover {
                background-color: $primary-light-5;
            }

            &:active {
                background-color: $primary-light-7;
            }
        }
    }
}

.subtitle {
    margin-top: 20px;
    text-align: center;
    color: $character-light-secondary-45;
}

.vi {
    display: flex;

    &__container {
        align-items: center;
    }

    &__character {
        @include character;
    }

    &__character.character {
        border: 1px solid $character-light-secondary-45;
    }

    &__character.character-error {
        border: 1px solid $character-light-error;
    }

    &__character--inactive {
        background-color: $neutral-gray-1;
    }
}
