@import '@constants/colors';

main.ant-layout-content {
    ul.ant-menu {
        flex-direction: row;
        gap: 0;
        margin-top: 16px;

        li.ant-menu-item {
            font-size: 16px;
            letter-spacing: 0.5px;
            text-align: center;
            padding-left: 16px !important;
            margin: 0;
            border-bottom: 1px solid $character-light-dividers;

            &::after {
                border-right: 0;
                border-bottom: 3px solid $primary-light-6;
                width: 100%;
            }

            &-selected {
                background-color: $character-light-primary-inverse;

                a {
                    color: $primary-light-6;
                }
            }
        }
    }
}
