@import '@constants/colors';

main.ant-layout-content {
    .ant-form-item {
        margin: 32px 0;

        @media (min-width: 320px) and (max-width: 500px) {
            margin: 28px 0;
        }

        &-row {
            margin: 0;
        }

        &-control-input {
            letter-spacing: 1.3px;
        }

        &-explain,
        &-explain-error {
            font-size: 12px;
            text-align: left;
            letter-spacing: 0.4px;
        }

        &-explain-error:not(:first-child) {
            display: none;
        }

        .ant-input {
            padding: 8px 0;
            border-color: $character-light-border;
            box-shadow: none;

            &-status-error:not(&-disabled):not(&-borderless) {
                border-left-color: $character-light-border;

                &:focus {
                    box-shadow: none;
                }
            }

            &-password {
                padding: 0 11px;
            }
        }

        .ant-input-affix-wrapper {
            &-focused {
                box-shadow: 0 0 0 2px rgba(47, 84, 235, 0.2);
                border: 1px solid $primary-light-5;
            }

            &:not(&-disabled):hover {
                border-color: $primary-light-5;
            }

            &-status-error {
                &:not(&-disabled):hover {
                    border-color: $character-light-error;
                }

                &:not(&-disabled).ant-input-affix-wrapper-focused {
                    box-shadow: 0 0 0 2px rgba(255, 38, 5, 0.06);
                }

                svg path {
                    fill: $character-light-secondary-45;
                }
            }

            .anticon-eye-invisible svg path {
                fill: $character-light-secondary-45;
            }
        }
    }

    .confirm-password {
        margin: 45px 0 63px;

        @media (min-width: 320px) and (max-width: 500px) {
            margin: 35px 0 63px;
        }
    }

    .check-area .ant-form-item-control-input-content {
        display: flex;
        justify-content: space-between;
        margin: 15px 0 0;
        letter-spacing: 0.5px;

        @media (min-width: 320px) and (max-width: 500px) {
            margin: 25px 0 0;
        }

        .ant-checkbox-checked .ant-checkbox-inner {
            background-color: $primary-light-6;
            border-color: $primary-light-6;
        }

        .form-forgot {
            color: $primary-light-6;
            background-color: $neutral-gray-1;

            &:hover {
                color: $primary-light-5;
            }

            &:active {
                color: $primary-light-7;
            }
        }
    }

    .ant-space {
        width: 100%;
        gap: 12px !important;

        @media (min-width: 320px) and (max-width: 500px) {
            margin-top: 0;
            gap: 15px !important;
        }

        .ant-btn {
            padding: 7px 0;
            letter-spacing: 0.5px;
            font-size: 16px;

            @media (min-width: 320px) and (max-width: 500px) {
                font-size: 14px;
            }

            &-primary {
                background-color: $primary-light-6;

                &:disabled {
                    background-color: inherit;
                }

                &:hover {
                    background-color: $primary-light-5;
                }

                &:active {
                    background-color: $primary-light-7;
                }
            }

            &:hover {
                svg path {
                    fill: $blue-light-5;
                }
            }

            svg path {
                fill: $character-light-title-85;
            }

            @media (min-width: 320px) and (max-width: 500px) {
                .anticon-google-plus {
                    display: none;
                }
            }
        }
    }

    .enter-buttons {
        margin-bottom: 0;
    }

    .login-page {
        margin-bottom: 105px;

        @media (min-width: 320px) and (max-width: 500px) {
            margin-bottom: 90px;
        }
    }
}
