#root {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.chakra-accordion::-webkit-scrollbar,
.chakra-modal__body::-webkit-scrollbar {
    width: 17px;
}
.chakra-accordion::-webkit-scrollbar-thumb,
.chakra-modal__body::-webkit-scrollbar-thumb {
    border-radius: 8px;

    box-shadow: inset 0 0 17px 17px rgba(0, 0, 0, 0.16);
    border: solid 4px transparent;
}
.chakra-accordio::-webkit-scrollbar-track,
.chakra-modal__body::-webkit-scrollbar-track {
    margin-bottom: 8px;
    border-radius: 8px;

    box-shadow: inset 0 0 17px 17px rgba(0, 0, 0, 0.04);
    border: solid 4px transparent;
}
