section.ant-layout {
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
    background: transparent;

    &-has-sider {
        background: {
            image: url('/background-main-page-light.png');
            size: cover;
            repeat: no-repeat;
            attachment: fixed;
        }

        @media (max-width: 834px) {
            background-position: -250px;
        }

        @media (max-width: 360px) {
            background-position: -650px;
        }
    }
}
