section.ant-layout {
    margin: 0 auto;
    max-width: 1440px;
    // height: 100%;
    position: relative;
    background: transparent;

    &-has-sider {
        background: {
            image: url('/background-main-page-light.png');
            size: cover;
            repeat: no-repeat;
        }

        @media (max-width: 834px) {
            background-position: -130px;
            background-attachment: fixed;
        }

        @media (max-width: 360px) {
            background-position: -390px;
        }
    }
}
