@import '@constants/colors';

main.ant-layout-content {
    h3.ant-typography {
        text-align: center;
        font-weight: 500;
        font-size: 24px;
        line-height: 130%;
        margin-bottom: -5px;
    }

    .ant-btn-primary {
        padding: 7px 0;
        letter-spacing: 0.5px;
        font-size: 16px;
        background-color: $primary-light-6;

        &:disabled {
            background-color: inherit;
        }

        &:hover {
            background-color: $primary-light-5;
        }

        &:active {
            background-color: $primary-light-7;
        }

        @media (min-width: 320px) and (max-width: 500px) {
            font-size: 14px;
        }
    }
}
